#map_container{
  border-radius: 15px;
  height: calc(100vh - 20px);
  width: 100%;
  overflow: hidden;
  position: relative;
}

.map{
  height: 100%;
  width: 100%;
}

.ant-select-selector{
  background-color: transparent !important;
  border: none !important;
}

.ant-list-item, .ant-collapse{
  width: 100% !important;
}

.ant-collapse-header{
  padding: 0 !important;
}

.collapse-list .ant-collapse-expand-icon{
  position: absolute;
  right: 0;
  top: 19px;
  z-index: 2;
  height: 32px !important;
  width: 32px;
  border-radius: 50%;
}

.ant-form-item{
  margin-bottom: 10px;
}

.ant-form-item-label{
  padding: 0 0 5px;
}

.ant-pagination-simple-pager{
  display: none !important;
}

.ant-pagination-prev>button>span{
  color: rgb(102, 102, 102) !important;
}

.ant-pagination>li{
  width: 49% !important;
  height: 35px !important;
  display: inline-flex !important;
  align-items: center;
}

.ant-pagination>.ant-pagination-next{
  background-color: rgb(98, 109, 75) !important;
}

.ant-pagination>.ant-pagination-simple-pager{
  display: none !important;
}

.ant-pagination-next>button>span{
  color: white !important;
}